* {
    background-color: lightblue;

}

h1 {
    text-align: center;
    color: lightyellow;
}

img {
    height: 200px;
    width: auto;
    margin-left: 0px;
    border: 2px solid black;
    display: inline-block;

}

ol {
    margin-left: 900px;
   
}
ul {
   margin-right: 900px;
   
}
.Ingredients {
    display: inline-block;
    
}
.Directions {
    display: inline-block;

}
.smaller {
    
    color: green;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.description {
    margin-top: 0px;
} 

p {
    margin-right: 900px;
}